.App {
  text-align: center;
  margin-top: 50px;
}

.App-logo {
  height: 20vmin;
}

button {
  margin: 0 10px;
  width: 100px;
  height: 30px;
  font-size: 20px;
}

textarea {
  resize: none;
  width: 500px;
  margin-top:30px;
  font-size: 24px;
}